body {
  font-family: sans-serif;
}

.fill_parent {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
}

.dock_bottom {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
}

.dock_top {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
}

.dock_left {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
}

.dock_right {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
}


.registerbox {
	border: 1px solid black;
font-family: 'DejaVu Sans Mono', "Consolas", "Droid Sans Mono", monospace;
font-size: 20px/24px;
width:800px;
height:200px;
position :relative;
}
.register {
	display: inline-block;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
width: 84px;
height: 22px;
text-align: right;
padding:3px;
padding-right: 13px;
}
.register.changed {
	color:red;
}
.register.sys { 
position:relative;
top:10px;
}
.control.panel {
	width:480px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0px 0px 1px 1px white inset;
	text-align: center;
}
.button {
	width:64px;
}
canvas {
cursor:none;
}
.ttyoutput {
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	font-family: monospace;
	font-size: 21px;
	white-space: pre;
}
.log {
	display:none;
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:20%;
	overflow:auto;
	white-space:pre;	
	padding:4px;
	
}
.disassembly {
	overflow:hidden;
	white-space: pre;
	font-family: sans-serif;
	position: absolute;
	left:500px;
	right:20px;
	height:380px;
	top:0px;
	margin: 8px 0px;
}

.PC {
	background-color: #f99;
}
.ProgramCounter {
  background-color: #f99;
}
.Error {
  background-color: #fbf;
}
.Error.ProgramCounter {
  background-color: #0F0;
}

select {
	display: block;
	width : 300px;
}

.breakpoint {
  position: absolute;
  right: 4px;
  bottom: 27px;
  width: 34px;
  text-align: right;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
	display:none;
}

.diagnostics {
	display: block;
}

[tooltip]:before {
	/* needed - do not touch */
	content: attr(tooltip);
	position: absolute;
	opacity: 0;
	
	/* customizable */
	transition: all 0.15s ease;
	padding: 3px;
	color: #333;
	border-radius: 3px;
	box-shadow: 2px 2px 1px silver;    
	right:0px;

}

[tooltip]:hover:before {
	/* needed - do not touch */
	opacity: 0.8;
	
	/* customizable */
	background: yellow;
}

[tooltip]:not([tooltip-persistent]):before {
	pointer-events: none;
}


#assembler .CodeMirror {
	height : 480px;	
}

#assembler .output {
	height : 108px;	
}

ul.tabs {
	font-family: sans-serif;
	list-style: none;
	margin:0px;
	background-color: #f3f3f5;
	cursor:default;
	box-shadow: 0px -1px 0px 0px inset;
}

ul.tabs li{
display: inline-block;
Border-top: 1px solid rgba(0,0,0,0.5);
border-left: 1px solid rgba(0,0,0,0.5);
border-right: 1px solid black;
border-radius: 8px 8px 0px 0px;
padding-left:5px;
padding-right:5px;
padding-top:3px;
box-shadow: 3px 1px 2px -2px;

}

ul.tabs li.selected {
	background-color: rgba(255,255,255,0.9);
	margin-bottom : -3px;
	padding-top:6px;
	padding-left:6px;
	padding-right:6px;
	z-index: 1;
}
